@import "tailwindcss";

.main-content {
    padding-bottom: 80px; /* Mobile bottom nav */
}

@media (min-width: 768px) {
    .main-content {
        padding-left: 240px;
        padding-bottom: 0;
    }
}